@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.form-page {
    display: flex;
}

.cover-image {
    display: flex;
    height: 100vh;
    width: auto;
}

img {
    width: auto;
    height: auto;
}

.header-text, .login-link {
    padding: 25px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.signup-field-background {
    /* position: relative;
    top: 200px; */
    padding: 25px;
}

.signup-field {
    display: flex;
}

.signup-left {
    padding: 0px;
}

.button {
    /* position: relative;
    top: 250px; */
    left: 25px;
    padding: 25px;
    width: 100px;
}

ul {
    list-style: none;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
}