@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.form-page {
    display: flex;
}

.cover-image {
    display: flex;
    height: 100vh;
    width: auto;
}

img {
    width: auto;
    height: auto;
}

.header-text, .login-link {
    padding-left: 40px;
    padding-right: 120px;
    padding-bottom: 20px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.signup-field-background {
    /* position: relative;
    top: 200px; */
    padding-left: 40px;
}

.signup-field {
    display: flex;
}

.signup-left {
    padding: 0px;
}

.signup-button {
    /* position: relative;
    top: 250px; */
    left: 25px;
    padding: 40px;
    padding-top: 0px;
    width: 100px;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #00b3a8;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    transition: .3s;
}

button:hover {
    transition: .3s;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(2px);
}

label {
    font-size: small;
    font-weight: bold;
}

input {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    padding: 5px;
    height: 20px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #d3d3d3;
    transition: .3s;
}

input:hover {
    transition: .3s;
    border-color: #aaa;
}

ul {
    list-style: none;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
}