.form-page {
    display: flex;
}

.cover-image {
    display: flex;
    height: 100vh;
    width: 100vh;
    background-color: #c9aa88;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
}

.middle-field {
    position: relative;
    top: 200px;
}

.button {
    position: relative;
    top: 200px;
}

ul {
    list-style: none;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
}